.homeContainer {
    display: flex;
}

.homeContainer>div:nth-child(odd) {
    flex: 0.2;
}

.homeContainer>div:nth-child(even) {
    flex: 0.6;
}

.homeContainer__leftbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.SidebarOptions {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.4rem;
    gap: 1rem;
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}

.SidebarOptions>svg {
    max-height: 1.5em;
    min-height: 1.5em;
}

.SidebarOptions:hover {
    transform: scale(1.01);
}
